/*--------IMPORTS-----------*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);



/*--------OVERALL WEBSITE-----------*/
body{
    margin:0;
    width:100%;
    height: 100%;
}
/*--------------END--------------------*/




/*--------SECTION 1 - HEADER --------------------*/

.video-container{
    
    width: 97%;
    overflow:hidden;
/*    display:block;*/
    height: 100%;
    z-index: -1;
    position: fixed;
    left: 0;
    top: 0;
}

video {
  z-index: -1;
  position: block;*/
  left: 0;
  top: 0;
  width: 100%;
  transform:scale(3);
/*  max-height: 70vh;*/
   
}

.section-1 { 
    margin-top: 0px;
    padding-top:5%;
    width:100%;
    overflow: hidden;
    border:0;
    height:50vh;
    background-image: linear-gradient(
      to right bottom,
        rgba(110,237,235,0.86),
        rgba(119,252,135,0.86));
    background-size: cover;
    background-position: top;
/*    clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);*/
    display: inline-block;
}

.main-title {
    display: block;
    margin-top:80px;
    position: absolute;
   top: 22%;
   left: 52%; 
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%);
    width:100%;
    max-width: 650px;
    padding: 0;
    margin:0;
}



/*--------------END--------------------*/





/*--------SECTION 2 - HOW IT WORKS ------------ --*/

.section-2 {
    padding: 80px 0px;
    margin-top: -90px;
    width:100%;
    border:0;
    height:100%;
  
    background-color: white;
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);  
}


.section-2-text{
    color:  rgba(140,140,140,1);
    font-family: Code-Pro-Demo; 
    font-size: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.section-2-sub-text{ 
    display: inline-block;
    background-color: rgba(34,194,215,0.9);
    color: white;
/*    font-style: italic;*/
    font-size: 30px ;
    padding: 0px;
    margin: 0;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.feature-num{
   display: inline-block;
   width: 50px;
   height:50px;
   margin-right: 10px;
   padding: 0;
   font-size:25px;
   font-family: Code-Pro-Demo; 
   color: white;
   background-image: linear-gradient(
      to right bottom,
        rgba(110,237,235,0.80),
        rgba(119,252,135,0.80));
    border-radius: 50%;
    float:left;
    text-align: center;
}

.mockup-card:hover { transform: scale(1.05); }

.feature-text{
    width: 100%;
    margin-bottom: 20px;
    color:  rgba(160,160,160,1);
    align-content: center;
    font-family: Code-Pro-Demo; 
    line-height: 25px;
    font-size: 25px;
    justify-content: center;
    height: 50px;
}

.feature-1-img {
    width:70%;
    transition: all .2s ease-in-out;
}

/*.feature-1-img:hover { transform: scale(1.1); }*/

/*--------------END --------------------*/




/*--------SECTION 3 - TESTIMONIALS ------------ --*/

.section-3 {
    display: block;
    padding: 100px 0px;
    margin-top: -90px;
    width:100%;
    border:0;
    height:100%;
    background-image: linear-gradient(
      to right bottom,
        rgba(110,237,235,0.9),
        rgba(119,252,135,0.9)),
        url("two-woman-plank.jpg");
    background-size: cover;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%);
}

.testimonials-text{
    font-family: Code-Pro-Demo; 
    font-size: 60px;
    color: white;
    padding-bottom: 40px;
    width: 100%;
    text-align: center;
}

figure.testimonials-container {
  margin-bottom: 20px;
/*  font-family: Code-Pro-Demo; */
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
/*  max-width: 310px;*/
  width: 100%;
  color: #333;
  text-align: left;
  box-shadow: none !important;
}

figure.testimonials-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.testimonials-container img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}
figure.testimonials-container blockquote {
/*  font-family: Code-Pro-Demo; */
  font-family: 'Raleway', Arial, sans-serif;
  margin: 0;
  display: block;
  border-radius: 8px;
/*  font-family: Code-Pro-Demo;*/
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.testimonials-container blockquote:before,
figure.testimonials-container blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.testimonials-container blockquote:before {
  top: 35px;
  left: 20px;
}
figure.testimonials-container blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}
figure.testimonials-container .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
figure.testimonials-container .author h5 {
  padding: 5px;
  background: rgba(50,50,50,0.1);
  opacity: 1;
  margin: 0;
  font-weight: 800;
}
figure.testimonials-container .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}
/*--------------END-------------------*/


/*--------SECTION 4 - TECHNOLOGY ------------ --*/

.section-4 {
    display: block;
    padding: 0px 0px;
    width:100%;
    border:0;
    height:100%;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
}


.tech-card{
    padding:20px;
    width: 100%;
    height: 100%;

    text-align: center;
/*    background-color: rgba(210,210,210,0.7);*/
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.science-text{
    font-family: Code-Pro-Demo; 
    font-size: 60px;
    color: rgba(140,140,140,1);
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.tech-feature-title {
    font-family: Code-Pro-Demo; 
    color: rgba(90,90,90,1);
    font-size: 20px;
    padding-bottom: 20px;
}

.card-container {
  text-align: center;
  cursor: pointer;
  perspective: 600;
  width: 100%;
  border: none;

}
.card {
  text-align: center;
  border:  0.4px solid rgba(120,120,120,1);
/*  border: none !important;*/
  height: 350px;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.6s ease-in-out;
  width: 100%;
  
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  border-radius: 6px;
/*  border: 0.4px solid rgba(120,120,120,1);*/
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
}
.card .back {
  height: 100%;
  border: none;
  background-image: linear-gradient(
      to right bottom,
        rgba(110,237,235,1),
        rgba(119,252,135,1));
  color: white;
  line-height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.flip-text {
    padding-top: 20px;
    color: rgba(200,200,200,1);
    color: rgba(80,80,80,1);
    
}

.card-back-explanation {
    border: none;
    text-align: left;
    font-family: 'Raleway', Arial, sans-serif;
    background-image: linear-gradient(
      to right bottom,
        rgba(100,100,100, 0.8),
        rgba(120,120,120,0.8));
    padding: 0 10%;
    position: absolute;
    top: %;
    text-align: center;
    font-size: 18px;
    line-height: 36px;
    width:100%;
    top: 50%;
    left:50%;
   -webkit-transform: translate(-50%, -50%);
   -moz-transform: translate(-50%, -50%); 
   -ms-transform: translate(-50%, -50%); 
   -o-transform: translate(-50%, -50%); 
   transform: translate(-50%, -50%);
}

.icon-back{
    color: black;
    left: 45%;
    z-index: -1;
    position: absolute;
    top: 10%;
}

.icon-big-tech{ 
   
}
/*--------------END --------------------*/




/*--------SECTION 5 - CONTACT ------------ --*/



.section-5 {
    padding: 260px 0px;
    width:100%;
    border:0;
    height:80vh;
    background-color: red;
    background-image: linear-gradient(
      to right bottom,
        rgba(110,237,235,0.90),
        rgba(119,252,135,0.90)),
        url("gym-men-woman.jpg");
    display: grid;
    background-size: cover;
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}

.about-col {
    padding-right:60px !important;
}

.about{
    font-size: 60px;
    font-family: Code-Pro-Demo; 
    color: white;
    text-align: left;
}


.about-description-text{
    color: white;
    font-size: 20px;
    color: rgba(100,100,100,1); 
}

.contact {
    font-size: 60px;
    color: white;
    font-family: Code-Pro-Demo;
    text-align: left;
}

.email-us-text {
    font-size: 20px;
    color: rgba(100,100,100,1);
    }


/*--------------END--------------------*/


/*--------------RESPONSIVE--------------------*/
@media only screen and (max-width: 990px) {
    
    .tech-feature-title {
        font-size: 16px;
    }
    
}
@media only screen and (max-width: 770px) {
    
    .tech-feature-title {
        font-size: 14px;
    }
    
    .feature-text{
        font-size: 15px;
    }
    
     .section-3 {
    padding: 100px 0px;
    margin-top: -110px;
/*
    width:100%;
    border:0;
    height:100%;
    background-image: linear-gradient(
      to right bottom,
        rgba(110,237,235,0.85),
        rgba(119,252,135,0.85)),
        url("two-woman-plank.jpg");
    background-size: cover;
*/
    clip-path: polygon(0 8%, 100% 0%, 100% 100%, 0 90%);
}
    
    .card-back-explanation{
        font-size: 12px;
    }
    
    .section-5 {
    padding: 30% 0px;
/*
    width:100%;
    border:0;
    height:80vh;
    background-color: red;
    background-image: linear-gradient(
      to right bottom,
        rgba(110,237,235,0.90),
        rgba(119,252,135,0.90)),
        url("gym-men-woman.jpg");
    display: grid;
    background-size: cover;
*/
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 100%);
}
    
}
    

@media only screen and (max-width: 580px) {
    .feature-text{
        font-size: 25px;
        margin-bottom: 5px;
        margin-top: 60px;
    }
    .mockup-card:hover { transform: scale(1); }
    
   
    .section-2 { 
    padding-top:60px;
    clip-path: polygon(0 0,100% 2%, 100% 100%, 0 100%);
}
    .section-2-text{
        padding-bottom: 0px;
        margin-bottom: 0px;
        text-align: center;
    }
    
    .testimonials-text{
        padding-top: 40px; 
        font-size: 45px;
        width: 100%;
        text-align: center;
   
}
    
    .science-text {
        padding-top: 20px; 
        padding-bottom: 40px;
        font-size: 45px;
        width: 100%;
        text-align: center;
    }
    
    .card-back-explanation{
        font-size: 20px;
    }
}
/*--------------END--------------------*/





























/*--------CONTAINERS-----------*/



/*

.testimonial-card{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 250px;
    padding:20px;
    width: 80%;
    background-color: rgba(250,250,250,0.9);
    border-radius: 8px;
    
}
*/
/*

.testimonial-card:hover { 
    background-color: rgba(258,258,258,0.95);
    
}
*/

/*
.testimonial {
    transition: all .2s ease-in-out;
}
*/

/*.testimonial:hover { transform: scale(1.1); }*/

/*
.testimonials {
    display: flex;
    align-content: center;
}
*/




/*.tech-card:hover { transform: scale(1.2); }*/


/*
.tech-feature-cards{
    margin-top: -60px;
}
*/


/*--------------END--------------------*/



/*--------TITLES, TEXT, ETC-----------*/


/*
.sub-title{
    position: absolute;
    top: 40%;
    width:100%;
    margin: 0 5%;
    display: block;
    text-align: center;
    margin:0px;
    padding-top: 15px;
    color:white;
    font-family: Code-Pro-Demo;
    font-size: 2.5rem;
    letter-spacing: 2px;
}
*/






/*
.quote-testimonial{
    text-align: center;
    line-height: 25px;
    color:  rgba(140,140,140,1);
    font-size: 25px;
    font-style: italic;
}
*/

/*
.testimonial-author-text{
    padding-top: 20px;
    font-family: Code-Pro-Demo; 
    font-size: 20px;
}
*/






/*--------------END--------------------*/



/*-------IMAGES----------*/




/*--------------END--------------------*/



/*    border: solid 4px rgba(225,225,225,1);*/
    
}

/*--------------END--------------------*/

/*-------ADVANCED TAGS, VIDEOS, WIDGETS----------*/

/*--------------END--------------------*/

/*--------------TESTIMONIAL--------------------*/



/* Demo purposes only */
/*
body {
  background-color: #212121;
}
*/


/*--------------END--------------------*/


/*--------------FLIPPABLE-CARDS--------------------*/
/*
body {
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
  margin: 12px 0;
}
*/


/*
     background: -webkit-linear-gradient(45deg, rgba(50,177,175,1),  rgba(79,212,95,1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
*/
    
/*    color: white;*/
    
}


/*--------------END--------------------*/


/*---------RESPONSIVE PARTS----------*/



/*
@media only screen and (max-width: 1000px) {
    
    
    .quote-testimonial{
        
        font-size: 20px;
    }
    
        
   .card-container {
      transform: scale(0.75);
      

    }
    
    .feature-text{
        
        font-size: 19px;
    }
    
    .tech-feature-title{
        font-size: 18px;
    }
}
*/

/*
@media only screen and (max-width: 760px) {
    
    
   card-container {
      transform: scale(0.95); 
      

    }
    .section-2 {
        padding-top: 80px;
        height:90vh;
        clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
    }
    
    .quote-testimonial{
        
        font-size: 18px;
    }
    .feature-num{
        margin-right: 8px;
    }
    .feature-text{
        font-size: 15px;
        width:130%;
    }
    
    .tech-feature-title{
        font-size: 18px;
    }
    
    .section-3 {
        margin-top: -160px;
        padding-top: 40px;
        padding-bottom: 40px;
        width:100vw; 
        height:120vh;  
    }
    
    .testimonials-text{
        text-align: center;
        font-size: 60px;
        padding-top: 80px;
        padding-bottom: 0px;
    }
    
    .testimonial-card{
        width: 100%;
        height: 100px;
    }
    
    .testimonial-author-text{
      padding-top: 20px;
      margin-bottom: 40px; 
      letter-spacing: 2px;
    }
    
.mockup-card:hover { transform: scale(1.2); }
}
*/


/*
@media only screen and (max-width: 580px) {
    
    
    .header {
        padding-top: 0px;
        width:100vw;
        height:50vh;
    }
    
     .section-2 {
        margin-bottom: 90px;
        margin-top: -75px;
        padding-top: 70px;
        width:100%; 
        height:255vh;
         height: 100%;
        clip-path: polygon(0 0, 100% 2%, 100% 90%, 0 100%);
    }
    
    .mockup-card{
        width:100%;
        padding:0px;
        padding-bottom: 0px;  
       transform: scale(0.8); 

    }
    
    .mockup-card:hover {transform: scale(1)}
    
    .feature-1-img:hover {transform: scale(1)}}

    
    .feature-text{
      font-size: 25px;   
    }
    
    .section-2-text{
        padding:0;
        }
    .feature-text{
        width:300px;
    }
    
     .section-3 {
        margin-top: -220px;
        padding-top: 40px;
        width:100vw; 

         height: 100%;
         margin-bottom: 20%;
    }
    
    .testimonials-text{
        font-size: 40px;
        padding-top: 80px;
        padding-bottom: 0px;
    }
    
    .section-4 {

        width:100vw; 

        height: 100%;
        margin-bottom: 30px;
    }
    
    .science-text{
        font-size: 40px;
        padding-top: 40px;
        padding-bottom: 80px;
    }
    .section-5 {

        padding-top: 80px;
        width:100vw; 
        height:70vh; 
        font-size: 10px;
    }
    
    .about{
        padding-top: 60px;
        font-size: 40px;
        padding-bottom: 0px;
    }
    
    .about-description-text{
        font-size:20px;
        padding-bottom: 0px;
    }
    .contact {
        padding-top:60px;
         font-size: 40px;
        padding-bottom: 5px;
    }
    
    .email-us-text{
        font-size: 15px;
    }
    
    .testimonial-card:hover {  pointer-events: none;}
      
} */

/*
@media only screen and (max-width: 390px) {
    
    .section-2 {
        height:215vh;
    }
    
    .section-3 {
        height:160vh;
    }
}
*/


/*--------------END--------------------*/


